<section class="experience container">
  <h2 class="mt-4">Experience</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Software Developer, [Company X]</strong> (2023–Present)<br>
      Developed and maintained web applications using Angular and TypeScript. Collaborated with teams to deliver scalable solutions.<br>
      <strong>Technologies:</strong> Angular, JavaScript, REST APIs
    </li>
    <li class="list-group-item">
      <strong>Intern, [Company Y]</strong> (2022)<br>
      Assisted in front-end development for a web platform.<br>
     