<section class="projects container">
  <h2 class="mt-4">Projects</h2>
  <ul class="list-group">
    @for (project of projects; track project.title) {
      <li class="list-group-item">
        <strong>{{ project.title }}</strong> ({{ project.year }})<br>
        {{ project.description }}<br>
        @if (project.linkUrl) {
          <a [href]="project.linkUrl" 
             [target]="project.isDownload ? '_self' : '_blank'" 
             [download]="project.isDownload ? '' : null"
             class="btn btn-link">
            {{ project.linkName }}
          </a>
        }
      </li>
    }
  </ul>
</section>